<div class="col-md-6 block">
  <%= render "layouts/skills" %>
</div>

<div class="col-md-6 block">
  <%= render "layouts/about" %>
</div>

<div class="col-md-6 block">
  <%= link_to 'View References', references_path, id: 'references_link', remote: true, class: 'btn btn-success' %>
</div>
